name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
permissions:
  contents: read
  actions: read
  checks: write

jobs:
  build:
    name: Build and Test bootstrap - ${{matrix.go-version}} ${{matrix.os}}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v3

    - name: Fetch at least 2 commits so that Iceberg doesn't break
      run: git fetch --unshallow

    - name: Build Egg/Pharo Virtual VM
      run: make -C runtime/pharo

    - name: Change python version in mac as pip install can be broken
      if: runner.os == 'macOS'
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install Conan
      id: conan
      uses: turtlebrowser/get-conan@main

    - name: Conan version
      run: echo "${{ steps.conan.outputs.version }}"

    - name: Cache Conan Dependencies
      id: cache-conan
      uses: actions/cache@v4
      with:
        path: ~/.conan2
        key: hashFiles('**/conanfile.txt')-${{ runner.os }}
        restore-keys: hashFiles('**/conanfile.txt')-${{ runner.os }}

    # if we did hit the cache, then we do not want to create a new default
    # profile since we already have one
    - name: Create default Conan profile
      if: ${{steps.cache-conan.outputs.cache-hit != 'true'}}
      run: conan profile detect -f

    - name: Build CPP VM
      run: |
        make -C runtime/cpp

    - name: Run tests
      run: make -C runtime/pharo/ test-ci

    - name: Attach the report
      if: always() && matrix.os == 'ubuntu-latest' # run this step even if previous step failed (only on ubuntu)
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: runtime/pharo/test-reports/Powerlang-Tests-Test.xml

    - name: Test Report
      uses: dorny/test-reporter@v1
      if: always() && matrix.os == 'ubuntu-latest'
      with:
        name: SUnit Test Report            # Name of the check run which will be created
        path: runtime/pharo/test-reports/*.xml    # Path to test results
        reporter: java-junit        # Format of test results
        fail-on-error: true

